<div class="page-header">
<div class="pull-right"><%= link_to image_tag("sigmod.gif", :alt => "sigmod-icon", :class => 'icon-padding', :style => "width: 160px;"), "http://www.sigmod.org/about-sigmod"%> 
</div>
<br/ >
  <h1>dbjobs</h1>  
</div>

<p>Welcome!<p>
	<br />
<p>

	dbjobs is currently in BETA-mode until we work out the kinks. Please let the <a href="mailto:webmaster@dbjobs.org">dbjobs team</a> know of any issues or concerns. <br/><br/>


<h3>About</h3><br/>
	The dbjobs system is a searchable collection of database jobs offered as a free service to the database community by ACM SIGMOD. It is intended to be used by job seekers that have a background in databases. Job postings are moderated, so they are guaranteed to be database-related. Job postings are pulled in from DBWorld, so job seekers need only check dbjobs.

</p>

<br />
<br />
<br />
